/*menu ----------------------- */
ul {
    list-style-type:none;
    margin: 0;
    padding-left: 0px; 
    font-family: "Arial",sans-serif;
}
ul.menu li:hover{
    background: #febe10;
    color: #0a1337;
    transition: 250ms;
}
ul.menu li a:hover{
    
    color: #0a1337;
    transition: 250ms;
}

.menu.principal {
    background: #0a1337;
    width:210px;
    height:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    
    
}

.menu.principal a {
    
    color: white; /* Black text color */

    border-top: 1px solid white;
    text-align: left;
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */

    text-decoration: none; /* Remove underline from links */
}
    /* info dos usuarios --------*/
.imagemPerfil {
    height: 65px;
    width: 65px;
    padding: 10px;
    border-radius:50px;
    left:10px;
    
}
    
.informacoes{
    
    position:absolute;
    left:100px;
    top: 40px;
}
h5{
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: "Arial",sans-serif;
}


h6{
    color: gray;
    padding: 0px;
    margin: 0px;
    font-family: "Arial",sans-serif;

}
    /*-------------------------*/

/* -------------------------*/

/* sub Menus --------------------*/

.sub {
    visibility: hidden;
    background: #febe10;
    width:210px;
    position: fixed;
    
}
.sub .submenu a {
    
    color: #0a1337;     
    border-top: 1px solid #0a1337;
    border-bottom: 1px solid #0a1337;
    text-align: left;
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */

    text-decoration: none; /* Remove underline from links */
}
/*Sub menus fim -----------*/

#subProduto {
    position: fixed;
    left: 226px;
    top: 140px;
    
}
#subCliente{    
    position: fixed;
    left: 226px;
    top: 183px;
}
#subRelatorio{
    
    position: fixed;
    left: 226px;
    top: 269px;
}
#subUsuario {
    position: fixed;
    left: 226px;
    top: 312px;
}

/* conteudo --------------*/

#direito{    
    position: absolute;
    left: 240px;
}

#cabecalho{
    width: 1000px;
    background: #febe10;
    
    padding: 25px;
    border-radius:10px;
    box-shadow: 0px 2px 4px #000000;
    

}
#conteudo{
    border: 2px solid #0a1337;
    border-radius:10px;
    height: 500px;

    margin-top: 20px;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Arial",sans-serif;
    margin: 0px;
    padding: 0px;
}
.logo{
    position: absolute;
    right: 20px;
    top: 10px;
}